* {
    box-sizing: border-box;
}


body{
    background-color: #000000;
    color: white;
    font-family: sans-serif;
    margin: 0;
}

header{
    background-image: url(./cover-img.png);
    height: 13rem;
    object-fit: cover;
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70rem;
    flex-grow: 1;
}

a{
    text-decoration: none;
    color: inherit;
}

.page-link{
    font-size: 0.8rem;
}

section.form-section{
    margin: 0 3rem;
}

form{
    display: flex;
    height: 2rem;
    margin: -1rem auto 0 auto;
    /* padding: 0 3rem; */
    max-width: 70rem;
    
    
}

input{
    flex-grow: 1;
    color: #A5A5A5;
    padding: 0 1rem;
    background: #2E2E2F;
    height: 2rem;
    border: none;
    font-weight: 500;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 

}

input:focus{
    outline: none;
}


button.search-btn{
    padding: 0 1rem;
    color: white;
    border: none;
    background: #4B4B4B;
    height: 2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.films-container{
    padding: 0 3rem;
    
    
}

.film-card{
    display: flex;
    gap: 1.8rem;
    max-width: 70rem;
    margin: 0 auto;
    padding: 1.8rem 0 1rem 0;
}

.film-card-poster{
    width: 8rem;
    object-fit: contain;
    object-position: top;
}



hr{
    border-color:#A5A5A5 ;
    margin-top: 1.5rem;
    max-width: 70rem;
}

.card-text-row-1{
    display: flex;
    gap: .5rem;
    align-items: baseline;
}

.film-title{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.5rem 0;
}

svg.star-icon{
    margin: auto 0 auto 0.3rem;
}

p.film-rating{
    font-size: 0.8rem;
}

.card-text-row-2{
    font-size: 0.8rem;
    display: flex;
    gap: .8rem;
    align-items: baseline;
}

button.watchlist-btn{
    background-color: transparent;
    border: none;
    color: white;
    margin: auto 0;
    display: flex;
    align-content: center;
    cursor: pointer;
}

svg.watchlist-icon{
    margin-right: 0.3rem;
}

p.film-plot{
    color: #A5A5A5;
    font-size: 0.9rem;
    line-height: 1.25rem;
    margin-top: 0;
}