* {
    box-sizing: border-box;
}

:root{
    --page-width: 70rem;
}


body{
    background-color: #000000;
    color: white;
    font-family: sans-serif;
    margin: 0;
}

header{
    background-image: url(./cover-img.png);
    height: 13rem;
    object-fit: cover;
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--page-width);
    flex-grow: 1;
}

a{
    text-decoration: none;
    color: inherit;
}

.page-link h2{
    font-size: 0.875rem;
}

section.form-section{
    margin: 0 3rem;
}

form{
    display: flex;
    height: 2rem;
    margin: -1rem auto 0 auto;
    /* padding: 0 3rem; */
    max-width: var(--page-width);
    
    
}

input{
    flex-grow: 1;
    color: #A5A5A5;
    padding: 0 1rem;
    background: #2E2E2F;
    height: 2rem;
    border: none;
    font-weight: 500;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 

}

input:focus{
    outline: none;
}

/* clears the ‘X’ from search input Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from search input Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


button.search-btn{
    padding: 0 1rem;
    color: white;
    border: none;
    background: #4B4B4B;
    height: 2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.films-container{
    padding: 3rem;
    margin-bottom: 3rem;
}

.film-card{
    display: flex;
    gap: 1.8rem;
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 1.8rem 0 1rem 0;
    min-height: 15rem;
}


.film-card-poster{
    width: 8rem;
    object-fit: contain;
    object-position: top;
}

hr{
    border-color:#A5A5A5 ;
    margin-top: 1.5rem;
    max-width: var(--page-width);
}

hr:last-child {
    display: none;
}

.card-text-row-1{
    display: flex;
    gap: .5rem;
    align-items: baseline;
}

.film-title{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.5rem 0;
}

svg.star-icon{
    margin: auto 0 auto 0.3rem;
}

p.film-rating{
    font-size: 0.8rem;
}

.card-text-row-2{
    font-size: 0.8rem;
    display: flex;
    gap: .8rem;
    align-items: baseline;
}

button.watchlist-btn{
    background-color: transparent;
    border: none;
    color: white;
    margin: auto 0;
    display: flex;
    align-content: center;
    cursor: pointer;
}

svg.watchlist-icon{
    margin-right: 0.4rem;
}

p.film-plot{
    color: #A5A5A5;
    font-size: 0.9rem;
    line-height: 1.25rem;
    margin-top: 0;
}

div.placeholder-films-content{

    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    color: #2E2E2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    flex-grow: 1;
    justify-content: flex-start;
    padding-top: 9rem;

}

/* watchlist page */

.empty-watchlist-text{

    color: #787878;
}

.empty-watchlist-link-wrapper{

    display: flex;
    align-content: center;
    margin-top: 0.9rem;
}

p.empty-watchlist-link{
    color: white;
    font-size: 0.87rem;
    margin: 0;
}

.watchlist-container{
    padding: 3rem;
    margin-bottom: 3rem;
}